@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  /* Fonts */
  --rc-font-primary: 'inter', sans-serif;
  --rc-font-secondary: 'Mooli', sans-serif;

  /* Colors */
  --rc-color-white: #ffffff;
  --rc-color-gray: #e8e8e8;
  --rc-color-light-gray: #f6f6f6;
  --rc-color-dark: #000000;

  /* Backgrounds */
  --rc-bg-primary: var(--rc-color-white);
  --rc-bg-secondary: var(--rc-color-gray);
  --rc-bg-accent: var(--rc-color-dark);

  /* Text Colors */
  --rc-text-dark: var(--rc-color-dark);
  --rc-text-light: var(--rc-color-white);

  /* Font Sizes */
  --rc-font-size-h1: 3.125em;
  --rc-font-size-h2: 2.1875em;
  --rc-font-size-h3: 1.5625em;
  --rc-font-size-text: 1.25em;
  --rc-font-size-link: 1.25em;

  /* Spacings */
  --rc-gap-xl: 50px;
  --rc-gap-lg: 30px;
  --rc-gap-md: 20px;
  --rc-gap-sm: 10px;

  --rc-padding-xl: 60px;
  --rc-padding-lg: 30px;
  --rc-padding-md: 20px;
  --rc-padding-sm: 10px;

  --rc-margin-section: 50px;
}

/* Reseteamos los estilos por defecto de la página */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--rc-font-primary);
}
a {
  color: var(--rc-color-dark);
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--rc-gap-lg);
}

.space-between {
  justify-content: space-between;
}
.tablet {
  display: none;
}

/* HEADER */
.burger {
  display: none;
}
#banner {
  background-color: var(--rc-color-dark);
  color: var(--rc-color-white);
  padding: var(--rc-padding-sm);
  font-weight: 300;
  text-align: center;
}
#menu {
  padding: var(--rc-padding-md);
}
#menu > nav {
  font-size: 0.8em;
  font-weight: 500;
}
#menu > nav > ul > li {
  transition: 0.5s;
}

#menu > nav > ul > li:hover {
  text-decoration: underline;
  font-weight: 600;
}
header > div > img {
  max-width: 160px;
}

.vertical-line {
  height: 20px;
}
/* IMG HOME */
#img-home {
  position: relative;
}
#img-home > img:nth-child(2) {
  display: none;
}
#img-home > img {
  width: 100%;
  height: auto;
}
#img-home > div {
  position: absolute;
  top: 55%;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--rc-padding-lg);
}
#img-home > div > img {
  width: 70%;
}
#img-home > div > button {
  padding: var(--rc-padding-sm) var(--rc-padding-xl);
  border: 1px solid var(--rc-color-dark);
  font-size: var(--rc-font-size-h4);
}
/* CONTAINER PRODUCT */

#container-product {
  width: 100%;
  margin-top: -5px;
}
#container-product > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  position: relative;
}
#container-product > ul {
  gap: 0px;
  cursor: pointer;
}

#container-product > ul > li > a > img {
  width: 100%;
  height: auto;
}
#container-product > ul > li > a > p {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  padding: var(--rc-padding-sm);
  color: var(--rc-color-white);
}
/* EDITORIAL */
#editorial {
  width: 100%;
  flex-direction: column;
  gap: 0px;
  margin-top: 10px;
}
#editorial > a {
  width: 65%;
  padding: var(--rc-padding-md);
}
#editorial > div {
  width: 75%;
  gap: 0px;
}
#editorial > div > img {
  width: 40%;
}
#editorial > div > div {
  gap: 0px;
  width: 40%;
  justify-content: flex-start;
  padding: var(--rc-padding-lg);
}
#editorial > div > div > p {
  font-weight: 300;
  font-size: 0.9em;
}
#editorial > div > div > h2 {
  font-weight: 400;
  padding-bottom: 10px;
}
/* CATEGORY */
#category {
  width: 100%;
  margin-top: var(--rc-margin-section);
}
#category > div:first-child > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
}

#category div > ul {
  gap: 0px;
  cursor: pointer;
  justify-content: space-around;
}

#category div > ul > li > a > img {
  width: 100%;
  height: auto;
}
#category > div > ul > li > a > p {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 40%;
  padding: var(--rc-padding-md);
  text-decoration: underline;
  color: var(--rc-color-white);
}
#category > div:nth-child(2),
#category > div:nth-child(3) {
  background-color: var(--rc-color-dark);
  margin-top: -5px;
  padding: var(--rc-padding-sm);
}

#category > div:nth-child(2) > ul > li {
  display: flex;
  align-items: center;
  width: 32%;
  position: relative;
}

#category > div:nth-child(3) > ul > li {
  display: flex;
  align-items: center;
  position: relative;
  width: 49%;
}
#category > div:nth-child(3) > ul > li > a {
  width: 100%;
  height: auto;
}
#category > div:nth-child(3) > ul > li > a > p {
  left: 20%;
}

#category > div:nth-child(2) > ul > li > a > p,
#category > div:nth-child(3) > ul > li > a > p {
  text-decoration: underline;
  color: var(--rc-color-dark);
}
#category > div:nth-child(3) {
  display: none;
}
#category > div:nth-child(3) > ul > li:first-child > a > p {
  color: var(--rc-color-white);
}
/* CARRUSEL */
#carrusel {
  padding: var(--rc-padding-xl);
  width: 100%;
}
#carrusel > h1 {
  font-size: var(--rc-font-size-h1);
  font-weight: 400;
}
#carrusel > ul {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--rc-gap-md);
  overflow-x: scroll;
}
#corrusel > ul > li {
  width: 25vw;
  height: auto;
}
#carrusel > ul > li > a {
  display: flex;
  flex-direction: column;
  gap: var(--rc-gap-sm);
  padding-bottom: 2em;
  width: 25vw;
}
#carrusel > ul > li > a > img {
  width: 100%;
  height: auto;
}

#carrusel > ul > li > a > span {
  font-weight: 600;
}

/*EXPERIENCES*/
#experiences {
  background-color: var(--rc-color-gray);
  width: 100%;
  padding: var(--rc-padding-xl);
  flex-direction: column;
}
#experiences > div:nth-child(1) > ul > li > a > img:nth-child(2) {
  display: none;
}
#experiences > div:nth-child(1) > ul > li > a > img:nth-child(1) {
  display: block;
}
#experiences > div:nth-child(1) > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  gap: var(--rc-gap-sm);
}
#experiences > div:nth-child(1) > ul > li > a > img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
#experiences > div:nth-child(1) > ul > li > a > p {
  font-size: 1.1em;
  font-weight: 300;
}
#experiences > div:nth-child(2) {
  border-top: solid 1px var(--rc-color-dark);
  border-bottom: solid 1px var(--rc-color-dark);
  width: 93%;
  text-align: center;
  padding: var(--rc-padding-sm);
  margin-top: 20px;
}
#experiences > div:nth-child(2) > h3 {
  font-weight: 300;
}
/* USER */
#user {
  background-color: var(--rc-color-dark);
  color: var(--rc-color-white);
  width: 100%;
  padding: var(--rc-padding-xl);
}
#user > div {
  flex-direction: column;
  width: 70%;
  text-align: center;
}
#user > div > h4 {
  font-size: var(--rc-font-size-h3);
  font-weight: 400;
}
#user > div > p {
  font-weight: 200;
}
#user > div > button {
  padding: var(--rc-padding-sm) var(--rc-padding-lg);
  font-weight: 200;
  font-size: var(--rc-font-size-text);
  border-radius: 0px;
  border: none;
}
/*BENEFITS*/
#benefits {
  background-color: var(--rc-color-light-gray);
  width: 100%;
  height: 25vh;
  justify-content: space-evenly;
  border-bottom: solid 0.5px var(--rc-color-dark);
}
#benefits > ul > li {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--rc-gap-md);
  width: 22%;
}

#benefits > ul > li > a > p {
  font-weight: 300;
}
#benefits > ul > li > a > h3 {
  font-weight: 500;
  padding-bottom: 5px;
}
#benefits > ul > li > a > img {
  width: 10%;
  padding-bottom: 5px;
}
/*FOOTER*/
footer {
  background-color: var(--rc-color-light-gray);
  width: 100%;
  flex-direction: column;
}

footer > div:first-child {
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--rc-padding-md);
}
#nav-footer {
  width: 70%;
  gap: var(--rc-gap-sm);
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--rc-padding-md);
}
footer > div:first-child > div:last-child {
  width: 20%;
}
footer > div:first-child > div:last-child > li {
  display: flex;
  flex-direction: column;
  gap: var(--rc-gap-sm);
}
footer > div:first-child > div:last-child > li > button {
  padding: var(--rc-padding-sm);
  font-weight: 200;
  font-size: var(--rc-font-size-text);
  border-radius: 0px;
  border: none;
  background-color: var(--rc-color-dark);
}
footer > div:first-child > div:last-child > li > button > a {
  color: var(--rc-color-white);
}
footer > div:first-child > div:last-child > li > p {
  font-weight: 300;
  font-size: 0.9em;
}

#nav-footer > ul {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 24%;
  align-items: flex-start;
  gap: var(--rc-gap-sm);
}
#nav-footer > ul > li {
  font-size: 0.8em;
}
#nav-footer > ul > li:first-child {
  font-weight: 600;
  font-size: 1em;
}
#redes-footer {
  width: 53%;
  justify-content: flex-end;
}
#aviso-footer {
  background-color: var(--rc-color-gray);
  width: 100%;
  padding: var(--rc-padding-sm);
  font-size: 0.9em;
  gap: var(--rc-gap-sm);
  justify-content: space-around;
}
.fa-circle {
  font-size: 0.5em;
  color: grey;
}

/* MEDIA QUERIS */
@media (max-width: 1300px) {
  #menu > nav {
    display: none;
  }
  .tablet {
    display: block;
  }
  .tablet > ul > li {
    transition: 0.5s;
  }
  .tablet > ul > li:hover {
    text-decoration: underline;
    font-weight: 600;
  }

  #img-home > img:nth-child(1) {
    display: none;
  }
  #img-home > img:nth-child(2) {
    display: block;
  }
  #redes-footer {
    width: 95%;
  }
  #nav-footer {
    width: 100%;
  }
  footer > div:first-child > div:last-child {
    width: 40%;
  }
}

@media (max-width: 900px) {
  .tablet {
    display: none;
  }
  .burger {
    display: block;
  }
  #iconos > a:nth-child(1) {
    display: none;
  }
  #iconos > a:nth-child(2) {
    display: none;
  }
  /* header > div > img {
    position: fixed;
    left: 50px;
  } */
  #banner {
    font-size: 0.8em;
  }
  #container-product > ul > li {
    width: 50%;
    margin-top: -5px;
  }
  #editorial > div {
    flex-direction: column;
    width: 80%;
  }
  #editorial > div > img {
    width: 80%;
  }
  #editorial > div > div {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  #editorial > div > div > p {
    font-size: 0.6em;
  }
  #editorial > div > div > h2 {
    font-size: 0.9em;
  }
  #category > div:first-child > ul > li:last-child {
    display: none;
  }
  #category > div:nth-child(2) {
    display: none;
  }
  #category > div:nth-child(3) {
    display: block;
  }
  #category > div:first-child > ul > li {
    width: 100%;
  }
  #category > div:first-child > ul > li > a > p {
    left: 30%;
  }
  #carrusel > ul > li {
    width: 60vw;
  }
  #carrusel > ul > li > a {
    width: 60vw;
  }

  #carrusel > h1 {
    font-size: var(--rc-font-size-h2);
    text-align: center;
  }
  #experiences > div:nth-child(1) > ul > li > a > img:nth-child(2) {
    display: block;
  }
  #experiences > div:nth-child(1) > ul > li > a > img:nth-child(1) {
    display: none;
  }
  #experiences > div:nth-child(1) > ul > li {
    width: 100%;
  }
  #benefits > ul > li {
    width: 45%;
  }
  #benefits {
    height: 40vh;
  }
  #redes-footer {
    width: 95%;
  }
  #nav-footer > ul {
    width: 40%;
    padding-bottom: 20px;
  }

  footer > div:first-child > div:last-child {
    width: 100%;
  }
}
